@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
}

main {
  width: 70vw;
  min-width: 900px;
  min-height: 10rem;
  margin: 0 auto 2rem;
  padding: 1.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  list-style-type: none;
  width: 70vw;
  margin: 0 auto;
  padding: 0 1.25rem;
}

li {
  text-decoration: underline;
}

#root {
  width: 100vw;
  margin: 0 auto;
}

.site-header h1 {
  text-align: center;
  margin: 1.25rem 0;
}

.auth-form {
  width: 50vw;
  margin: 0 auto;
}

.auth-form h1 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.auth-form form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  font-size: larger;
  padding: 1rem;
  width: 60%;
  margin: .5rem auto;
}

.auth-buttons {
  display: flex;
  width: 60%;
  margin: .5rem auto;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.register {
  padding: 1rem 1.25rem;
}

.login {
  text-decoration: underline;
}

.note-item-wrapper {
  display: flex;
  gap: 1rem;
}

.note-item {
  flex-basis: 25%;
  border: 1px solid #ccc;
  padding: 0.313rem 0;
}

.note-item>* {
  padding: 0 10px;
}

.note-item footer {
  margin-top: 0.313rem;
  margin-bottom: 0.625rem;
}

.note-item footer {
  font-size: small;
}

.note-detail>.note-item {
  border: none;
}

.action-buttons {
  display: flex;
  gap: 0.313rem;
  margin-bottom: 0.625rem;
}

.search-bar {
  margin-bottom: 1.5rem;
}

.search-bar input {
  width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
}

[data-theme='dark'] {
  background-color: black;
  color: white;
}

.btn-switch-theme {
  cursor: pointer;
}

.site-navigation-list {
  justify-content: space-between;
}

.site-navigation-list div {
  display: flex;
  gap: 1rem;
}

.fixed-button {
  position: fixed;
  bottom: 2.5rem;
  right: 3.125rem;
  font-size: 3rem;
}
