@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
}

main {
  width: 70vw;
  border: 1px solid #ccc;
  min-height: 10rem;
  margin: 2rem auto;
  padding: 1.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  list-style-type: none;
}

li {
  text-decoration: underline;
}

#root {
  width: 100vw;
  margin: 0 auto;
}

.site-header h1 {
  text-align: center;
  margin: 1.25rem 0;
}

.auth-form {
  width: 50vw;
  margin: 0 auto;
}

.auth-form h1 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.auth-form form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  font-size: larger;
  padding: 1rem;
  width: 60%;
  margin: .5rem auto;
}

.auth-buttons {
  display: flex;
  width: 60%;
  margin: .5rem auto;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.register {
  padding: 1rem 1.25rem;
}

.login {
  text-decoration: underline;
}
